@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Satoshi;
    src: url('./assets/font/Satoshi.ttf');
}

*, *::after, *::before{
    @apply !font-sans
}

.ant-btn-primary {
    @apply bg-primary
}

.ant-select-selector{
    @apply !rounded-none !h-[30.8px]
}

.ant-upload-select {
    width: 4rem;
    height: 4rem
}

body{
    height: 100vh;
    overflow: hidden;
}

.dashboard-layout {
    height: calc(100vh - 3rem);
}

.child-m-0 > div {
    margin: 0;
}
.ant-switch:not(.ant-switch-checked){
    background: rgb(163, 163, 163)
}

@layer base {
    html {
      font-family: Satoshi, system-ui, sans-serif;
    }
    label {
        text-transform: capitalize;
    }
  }

  .ant-table {
    overflow-x: auto;
  }